 @import url(http://fonts.googleapis.com/css?family=Cabin:400,700);


   ::-moz-selection {
       background: #f2c2c9;
       color: #a4003a;
       text-shadow: none;
   }
   
   ::selection {
       background: #81fce3;
       color: #000;
       text-shadow: none;
   }
   
   /*
    * A better looking default horizontal rule
    */
   
    hr {
       display: block;
       height: 1px;
       border: 0;
       border-top: 1px solid #ccc;
       margin: 1em 0;
       padding: 0;
   }

   .centered {
     text-align: center
   }
   
  .heading {
    font-size: 2em;
    padding-bottom: 0.5em;
  }
  .minor-heading {
    font-size: 1em;
    padding-bottom: 0.5em;
  }

  .slider-control-centerleft, .slider-control-centerright {
    display: none;
  }
  .longQuote {
    margin-bottom: 300px;
  }
   
   /* ==========================================================================
      General styles
      ========================================================================== */
   
   
   body {
       font-family: 'Cabin', sans-serif;
       font-weight: 400;
       font-size: 2em;
   
       -webkit-font-smoothing: antialiased;
       -webkit-overflow-scrolling: touch;
   }
   
   h1, h2, h4, h5, h6 {
     font-weight: 700;
       color: #000;
   }
   
 #copyright {
     font-size: 0.6em;
   }
   
   .navbar-brand {
     font-weight: 700;
   }
   
   .navbar-default .navbar-brand {
     color: #1abc9c;
   }
   
   .navbar-default {
     /* background-color: transparent; */
     border-color: transparent;
   }
   
   .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
     color: #1abc9c;
     background-color: transparent;
   }
   
   .navbar-default .navbar-nav > li > a {
     color: #1abc9c;
   }

   
   /* ==========================================================================
      Wrap Sections
      ========================================================================== */
   
   #headerwrap {
     background: url(../src/Images/back.jpg) no-repeat center top; 
     background-color: lightskyblue; 
     margin-top: 5px;
     padding-top: 10em;
     text-align:center;
     background-size:     cover; 
     height: 100vh;
     width: 100%;
       -webkit-background-size: 100%;
       -moz-background-size: 100%;
       -o-background-size: 100%;
       background-size: 100%;
   
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
   
   #headerwrap h1 {
    color: #fff;
     font-weight: bold;
     font-size: 4em;
   }
   
   #headerwrap h4, h5{
     font-weight: 700;
     color: #fff;
     padding-top: 15px;
     font-size: 1em;
   }
   
   #social {
    background-color: #f2f2f2;
  }
  
  #social i {
    padding: 5px;
    color: #4a4a4a
  }
  
  #social i:hover {
    color: #1abc9c
  }
   
   #footerwrap {
     margin-top: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
     background-color: #2f2f2f;
   }
   
   #footerwrap p {
     color: #f2f2f2;
     margin-left: 10px;
   }
   
   #workwrap {	
     /* background: url(../src/Images/work.jpg) no-repeat center top; */
     padding-top: 100px;
     padding-bottom: 100px;
     text-align:center;
     background-attachment: relative;
     background-position: center center;
     min-height: 650px;
     width: 100%;
     
       -webkit-background-size: 100%;
       -moz-background-size: 100%;
       -o-background-size: 100%;
       background-size: 100%;
   
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
   
   #workwrap h1, h2 {
    padding-bottom: 50px;
     color:#000;
     letter-spacing: 4px;
     font-size: 80px;
     font-weight: bold;
   }
   
   #workwrap h4 {
     font-weight: 400;
     color: #000
   }
   
   #aboutwrap {	
     padding-top: 50px;
     text-align:center;
     background-attachment: relative;
     background-position: center center;
     min-height: 550px;
     width: 100%;
     
       -webkit-background-size: 100%;
       -moz-background-size: 100%;
       -o-background-size: 100%;
       background-size: 100%;
   
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
   .carousel-item {
     padding:3em 5em 5em 5em; 
   }
   .carousel-item, p {
    padding-left: 2em;
    padding-right: 2em;
   }
   .ClientImage {
     height: 100px;
     width: 100px;
     border-radius: 50%;
   }
   .ClientQuote {
     color: #000;
   }
   .ClientInfo {
     color: darkgrey;
   }
   .slider-control-bottomcenter{
     display: none;
   }
   
   .project {
    height: 250px !important;
    width: 100%;
   }
   /* Gallery */
   .gallery {
     margin-top: 30px;
   }

   .gallery img:hover {
     opacity: 0.4;
   }